extends layout
block content
  include includes/_header.pug
  .container.grid-lg
    .form-group 
    form(action=`/book/${book.id}/edit`, method="post")
      input.form-input(type="text" name="title" placeholder=`${book.title}`)
      input.form-input(type="text" name="author" placeholder=`${book.author}`)
      input.form-input(type="number" name="year" placeholder=`${book.year}`)
      input.form-input(type="number" name="pages" placeholder=`${book.pages}`)
      button.btn.btn-primary.input-group-btn(type="submit") editer

