extends layout
block content
  include includes/_header.pug
  .container.grid-lg
    .form-group 
    form(action="/book", method="post")
      input.form-input(type="text" name="title" placeholder="votre titre")
      input.form-input(type="text" name="author" placeholder="votre auteur")
      input.form-input(type="number" name="year" placeholder="votre année")
      input.form-input(type="number" name="pages" placeholder="le nnombre de pages")
      button.btn.btn-primary.input-group-btn(type="submit") envoyer
